  {% if section.settings.sticky %}<div uk-sticky="sel-target: cls-active: uk-navbar-sticky"> {% endif %}
<div class="{% if section.settings.full-width %}{% else %} uk-container{% endif %}">
<nav style="background: {{ section.settings.nav_color }}; height: {{ section.settings.nav_height }};" class="uk-visible@m uk-navbar-container  {% if section.settings.remove-bottom %} uk-margin-remove-bottom {% elsif section.settings.remove-top %}uk-margin-remove-top{% else %}uk-margin {% endif %}  uk-navbar-{{ section.settings.nav_alignment }}" uk-navbar>
          {% include 'main-navigation' %}
  </nav>
  </div>
   {% if section.settings.sticky %}</div>{% endif %}
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "SPF Mega Menu Settings"
      },
      {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
	"default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "remove-top",
        "label": "Remove Top Margin"
      },
      {
        "type": "checkbox",
        "id": "remove-bottom",
        "label": "Remove Bottom Margin"
      },
      {
        "type": "image_picker",
        "id": "site_logo_img",
        "label": "Site Logo to display in menu"
      },
      {
        "type": "checkbox",
        "id": "site_logo",
        "label": "Display Site Logo in Menu?"
      },
      {
        "type": "color",
        "id": "nav_color",
        "label": "Nav Bar Color",
        "default": "transparent"
      },
      {
        "type": "color",
        "id": "nav_text_color",
        "label": "Nav Bar Text Color",
        "default": "#999"
      },
	  {
        "type": "select",
        "id": "nav_alignment",
        "label": "Alignment",
        "options": [
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "left",
            "label": "Left-aligned"
          }
        ],
        "default": "left"
      },
      {
        "type": "text",
        "id": "nav_height",
        "label": "Navigation Height (in pixels)"
      },
      {
   "type":      "select",
   "id":        "columns",
   "label":     "How you want the menus to display",
   "options": [
	 {
      
       "value": "dropdown-1-with-image",
       "label": "1 Column(With Image)"
     },
	 {
      
       "value": "dropdown-1-with-image-hover",
       "label": "1 Columns (With Image Hover)"
     },
     {
       "value": "dropdown-width-2",
       "label": "2 Columns"
     },
 	 {
      
       "value": "dropdown-2-with-image",
       "label": "2 Columns(With Image)"
     },
	 {
      
       "value": "dropdown-2-with-image-hover",
       "label": "2 Columns (With Image Hover)"
     },
     {
      
       "value": "dropdown-boundary",
       "label": "3 Columns"
     },
 	 {
      
       "value": "dropdown-3-with-image",
       "label": "3 Columns(With Image)"
     },
	 {
      
       "value": "dropdown-3-with-image-hover",
       "label": "3 Columns (With Image Hover)"
     },
     {
      
       "value": "dropdown-boundary-4",
       "label": "4 Columns"
     }
   ],
   "default":   "dropdown-width-2",
   "info":      "2 Columns Default"
},
      {
        "type": "checkbox",
        "id": "full-width",
        "label": "Full Width Navigation"
      },
      {
        "type": "checkbox",
        "id": "sticky",
        "label": "Sticky Navigation"
      },
      {
        "type": "checkbox",
        "id": "nav_show_images",
        "label": "Show custom image in dropdown navigation",
        "info": "Works only on desktop."
      },
      {
        "type": "image_picker",
        "id": "nav_image",
        "label": "Choose a featured image to show in the menu"
        
      },
      {
        "type": "header",
        "content": "Dropdown Settings"
      },
      {
        "type": "text",
        "id": "nav_uber_name",
        "label": "Name of menu link to show under",
		"info": "This is case-sensitive"
      },
      {
        "type": "text",
        "id": "nav_uber_list_1_title",
        "label": "Column 1 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_1",
        "label": "Column 1 menu"
      },
      {
        "type": "text",
        "id": "nav_uber_list_2_title",
        "label": "Column 2 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_2",
        "label": "Column 2 menu"
      },
      {
        "type": "text",
        "id": "nav_uber_list_3_title",
        "label": "Column 3 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_3",
        "label": "Column 3 menu"
      },
      {
        "type": "text",
        "id": "nav_uber_list_4_title",
        "label": "Column 4 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_4",
        "label": "Column 4 menu"
      }
	]
  }
{% endschema %}
