                    <nav role="navigation" class="header__nav uk-navbar-transparent uk-navbar-container uk-margin uk-navbar-{{ section.settings.nav_alignment }}" uk-navbar>
                        <div class="uk-navbar-left">
        
                            <ul class="uk-navbar-nav uk-navbar-dropdown-nav">
                             {% for link in linklists[section.settings.menu_linklist].links %}
    
                                {% assign has_drop_down = false %}
                                {% assign link_title = link.title %}
                                {% if link_title == section.settings.nav_uber_name %}
                                    {% assign dropdown_style = 'dropdown-width-2' %}
                                    {% assign has_drop_down = true %}
                                {% else %}
                                    {% include 'has-drop-down' with link_title %}
                                    {% if has_drop_down %}{% assign dropdown_style = 'drop-norm' %}{% endif %}
                            {% endif %}
                                <li>
                                    <a href="#">{{ link.title }}</a>
                                    {% if has_drop_down and dropdown_style == 'dropdown-width-2' %}
                                    <div class="uk-navbar-dropdown  {% if has_drop_down %}uk-navbar-{{ dropdown_style }}{% endif %}">
                                        <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
	  {% comment %} Full width dropdown {% endcomment %}
          

            {% if section.settings.nav_uber_list_1 != blank %}
              {% assign list_title = section.settings.nav_uber_list_1_title %}
              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_1 %}
            {% endif %}
            {% if section.settings.nav_uber_list_2 != blank %}
              {% assign list_title = section.settings.nav_uber_list_2_title %}
              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_2 %}
            {% endif %}
            {% if section.settings.nav_uber_list_3 != blank %}
              {% assign list_title = section.settings.nav_uber_list_3_title %}
              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_3 %}
            {% endif %}
            {% if section.settings.nav_uber_list_4 != blank %}
              {% assign list_title = section.settings.nav_uber_list_4_title %}
              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_4 %}
            {% endif %}
          
        
    </div>
                                    </div>
                                  
                                </li>
                           
                           {% endif %}
                              {% endfor %}
                               </div>
                        </nav>
