             
<!-- SPF Sizing Dropdown -->
      <label for="SizeQuestion" style="color: #fff">
        <input class="sizequestion-input" type="checkbox" id="SizeQuestion" />
          I need help working out my size
</label>
     <p>
<div id="SizeInfo" style="display: none">
 
          <div class="sizequestiondiv">
          <!-- SIZING foot size field input -->
            <label class="form__label">Sizing Help</label>
               <a href="/pages/size-buying" target="_blank" style="color: #fff"> 1. Help! I am not sure what size i am? Click for more information</a>
            <p>
            <br>
              <label class="form__label">Measured your size?</label> 
             
                   <p class="line-item-property__field">
  <label for="enter-your-foot-measurement" style="color: #fff"> 2. Enter Your Foot Measurement</label>
  <input id="enter-your-foot-measurement" style="background: #fff; height: 25px; color: #000"  type="text" name="properties[Enter Your Foot Measurement]">
</p>
                  <a href="#" style="color: #fff"> 3. Click ADD TO CART </a>
                   <!-- foot size end -->
</div>
            </div>
 <!--SPF Sizing Dropdown -->
