<!--
  CSS to put into Shopify theme.scss
  
  .fullscreen-bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 20%;
}

.fullscreen-bg__video {
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}



@media only screen and (max-width: 768px) {
  .fullscreen-bg {
    background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}


.fullscreen-bg {
	max-height: 600px;
  	margin-bottom: 50px
}

-->

<div class="widgets">
  <div class="videoloop">
              {% comment %} Block settings {% endcomment %}
             <div class="fullscreen-bg">
                      <video loop muted autoplay class="fullscreen-bg__video">
        <source src="https://cdn.shopify.com/s/files/1/1835/6627/files/denheath2.webm" type="video/webm">
    </video>
    </div>
    </div>
  </div>

{% schema %}
{
  "name": "Video Banner",
  "class": "videoloop",
  "max_blocks": 1,
  "blocks": [
    {
      "type": "text",
      "name": "Video URL",
      "settings": [
          {
            "type": "text",
            "id": "video_url",
            "label": "Video URL",
            "default": "https://cdn.shopify.com/s/files/1/1835/6627/files/denheath2.webm"
          }
		]
	}
  ],
  "presets": [
    {
      "name": "Video Banner - Test",
      "category": "Promotional",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "video_url": "https://cdn.shopify.com/s/files/1/1835/6627/files/denheath2.webm"
          }
        }
       
      ]
    }
  ]
}
{% endschema %}
